ul {
    text-align: center;
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: sticky;
    top: 0;
    width: max-content;
    z-index: 1;    
  }
  
li {
    float: left;
    background-color: rgba(77, 77, 107, 0.26);
  }
  
li a {
    display: block;
    color: rgb(228, 211, 211);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 80px;
    transition: all 0.7s ease;
    box-shadow: 2px 3px 3px rgb(80, 230, 230);
  }

li a:hover {
    background-color: rgb(75, 80, 80);
}
div{
    list-style-type: none;
   margin: 0;
    padding: 5;
    overflow: hidden;
    background-color:  rgb(21, 20, 36);
}
.center{
    display:block;
    margin: auto;
    width: 34.5%;
}

a:hover {
    background-color: darkslategray;
}
th, td {
    background-color:  rgba(77, 77, 107, 0.26);
    border: 1px transparent darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.753);
    text-shadow: 4px 4px rgb(80, 230, 230);
    font-weight: bolder;
    
}
td {
    width: 25%;
    font-size: 30;
    text-align: center;
    vertical-align: top;
    text-shadow: 2px 3px rgb(80, 230, 230);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-shadow: 1px 1px rgb(80, 230, 230);
    width: 263;
    margin: auto;
}
.bg{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(80, 230, 230);
    width: 100%;
    margin: auto;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(80, 230, 230);
    width: 100%;
    margin: auto;
}

.submit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(80, 230, 230);
    margin: auto;
    background-color: slategray;
}
.type {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(80, 230, 230);
    margin: auto;
    background-color: slategray;
    width: 100px;
    transition-property: width;
    transition-duration: 1s;
}
.type:hover{
    width: 230px;
}
.type:focus{
    width: 230px;
}

.contact{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(80, 230, 230);
    width: 100%;
    margin: auto;
}