ul {
    text-align: center;
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: sticky;
    top: 0;
    width: max-content;
    z-index: 1;    
  }
  
li {
    float: left;
    background-color: rgba(77, 77, 107, 0.26);
  }
  
li a {
    display: block;
    color: rgb(228, 211, 211);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 80px;
    transition: all 0.7s ease;
    box-shadow: 2px 3px 3px rgb(80, 230, 230);
  }

li a:hover {
    background-color: rgb(75, 80, 80);
}
div{
    list-style-type: none;
     margin: 0;
    padding: 5;
    overflow: hidden;
    background-color:  rgb(21, 20, 36);
}
.center{
    display:block;
    margin: auto;
    width: 34.5%;
}



a:hover {
    background-color: darkslategray;
}
th, td {
    background-color:  rgba(77, 77, 107, 0.26);
    border: 1px transparent darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.753);
    text-shadow: 4px 4px rgb(80, 230, 230);
    font-weight: bolder;
    
}
td {
    width: 25%;
    font-size: 30;
    text-align: center;
    vertical-align: top;
    text-shadow: 2px 3px rgb(80, 230, 230);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    text-shadow: 1px 1px rgb(80, 230, 230);
    padding-left: 4px;
    padding-right: 4px;
               
}
.bg{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.right{
    float: right;
    box-shadow: 2px 3px 3px rgb(80, 230, 230);
}
.left{
    float: left;
    box-shadow: -2px 3px 3px rgb(80, 230, 230); 
}
.flex{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}